<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tutorial</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
   <h1 class="text-center">Image Classifier</h1>
   <form class="p-3 text-center" action='/', method="post" enctype="multipart/form-data">
     <input class="form-control" type="file" name="image">
     <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
   </form>

   {% if prediction %}
      <p class="text-center">Image is a {{prediction}}</p>
   {% endif %}

</body>
</html>